.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media screen and (max-width:615px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width:616px) and (max-width:1080px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
