html,
body {
  background: #000 url('./images/background.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 0.5em 1.3em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #edeec7;
  background-color: #4eb5f1;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}

.pagination button:hover {
  background-color: #2474a3;
}

@media all and (max-width:30em) {
  a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}